
/* Formularios */
input {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    cursor:pointer;
}

p:hover {
    text-decoration: underline;
}

.input-texto {
    padding: 8px 4px;
    border-radius: 4px;
    border: 2px solid #055daa;
    background-color: #dfe9f3;
    color: #055daa;
}

.input-texto:focus {
    outline: none;
    border: 2px solid red;
}