/* Selector de etiqueta, lleva el mismo nombre que las etiquetas en HTML */
body {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: inherit;
    color: blue;
}

#novedades,
#ofertas {
    font-family: Arial, Helvetica, sans-serif;
}

.familiaTipografica {
    
}


/* Selector de clase .nombreDeLaClase se puede aplicar todas las veces que necesitemos en un mismo documento. */
.colorVerde {
    color: green;
    
    text-decoration-color: red; /* color */
    text-decoration-style: dashed; /* estilo */
    text-decoration-thickness: 1px; /* grosor */
    text-decoration-line: underline; /* posición */

    /* text-transform: uppercase; */

    text-align: left;

}

a {
    text-decoration: none;
}

/* Selector de ID, #nombreDelID solamente se puede utilizar una sola vez por documento. */

#novedades {
    background-color: antiquewhite;
}

#novedades h1 {
    color: red;
}

#novedades > div > h1 {
    color: red;
}

.clase h1 {
    color: red;
}

section h1 {
    color: red;
}

h1,
h2,
h3,
p {
    color: blue;
}

/* Links */